.head-inform {
    text-align: center;
}

.user-inform {
    margin-top: 30px;
}

.user-inform label {
    margin-top: 6px;
}

.todo-data {
    margin-top: 30px;
}

.tab-pane {
    margin-top: 30px;
}
